.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.reader {
  --thick: 0px;
  outline: var(--thick) dashed hsl(8 100% 55%);
  outline-offset: calc(var(--thick) * -1);
  height: calc(
    (
        (var(--ppc) * var(--content-length) + (var(--pad) * var(--buffer))) *
          1px
      ) +
      100vh
  );
}

.content {
  position: sticky;
  top: 40;
  min-height: 80vh;
  width: 160ch;
  padding: 0.5rem 0;
  max-width: calc(100% - 4rem);
  display: grid;
  place-items: center;
  margin-right: 400px;
  line-height: 1.2;
  text-align: left;
}

.content span {
  opacity: calc(0.4 + (var(--active, 0)));
  transition: opacity 0.5s;
}

[data-split] {
  font-size: clamp(32px, 8vmin + 16px, 70px);
  font-weight: 800;
  white-space: pre-line;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: normal;
  hyphens: auto;
  text-align: left;
}

@supports (animation-timeline: scroll()) {
  @property --active {
    inherits: true;
    initial-value: 0;
    syntax: "<number>";
  }

  .reader {
    view-timeline: --reader block;
  }

  .content span {
    animation: activate both steps(1);
    animation-timeline: --reader;
    animation-range: contain calc(((var(--start, 0) * var(--ppc)) * 1px))
      contain calc(((var(--end, 0) * var(--ppc)) * 1px));
  }

  @keyframes activate {
    to {
      --active: 1;
    }
  }
}
